/* Layout */

.navbar-layout,
.navbar-layout-tablet {
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar-layout .layout-header {
    position: absolute;
    width: 100%;
}

.navbar-layout .layout-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.navbar-layout .layout-content > div,
.navbar-layout .transition-frame {
    height: 100%;
    width: 100%;
}

.navbar-layout .layout-footer {
    width: 100%;
    position: absolute;
}

/* ios */

.dx-theme-ios .navbar-layout .layout-header {
    top: 0;
    height: 44px;
}

.dx-theme-ios .navbar-layout .layout-content {
    top: 44px;
    bottom: 0;
}

.dx-theme-ios .navbar-layout.has-navbar .layout-content {
    bottom: 59px;
}

.dx-theme-ios .navbar-layout .layout-footer {
    height: 59px;
    bottom: 0;
}

.dx-theme-ios .navbar-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
    margin-bottom: 10px;
}
 
.dx-theme-ios .navbar-layout .view-footer {
    position: static;
}

.dx-theme-ios .navbar-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios .navbar-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
    height: 40px;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button .dx-button-content {
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios .navbar-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* ios7 */

.dx-theme-ios7 .navbar-layout .layout-header {
    top: 0;
    height: 44px;
}

.dx-theme-ios7 .navbar-layout .layout-content {
    top: 44px;
    bottom: 0;
    background-color: #EFEFF4;
}

.dx-theme-ios7 .navbar-layout.has-navbar .layout-content {
    bottom: 59px;
}

.dx-theme-ios7 .navbar-layout.has-navbar .layout-footer {
    height: 59px;
    bottom: 0;
}

.dx-theme-ios7 .navbar-layout .view-footer {
    position: static;
}

.dx-theme-ios7 .navbar-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

.dx-theme-ios7 .navbar-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-toolbar {
    height: 57px;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-toolbar-center {
    width: 100%;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button {
    width: 97%;
    overflow: visible;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button .dx-button-content {
    height: 44px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dx-theme-ios7 .navbar-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* android */

.dx-theme-android .navbar-layout .layout-header .dx-navbar {
    top: 0;
    height: 78px;
    border-bottom: 1px solid #09c;
}

.dx-theme-android .navbar-layout .layout-content {
    top: 0;
    bottom: 0;
}

.dx-theme-android .navbar-layout.has-toolbar .layout-content {
    bottom: 44px;
}

.dx-theme-android .navbar-layout.has-navbar .layout-content {
    top: 79px;
}

.dx-theme-android .navbar-layout .layout-footer {
    bottom: 0;
    height: 44px;
    display: none;
}

.dx-theme-android .navbar-layout.has-toolbar .layout-footer {
    display: block;
}

.dx-theme-android .navbar-layout .dx-tabs.dx-navbar {
    padding: 0;
}

/* android5 */

.dx-theme-android5 .navbar-layout .layout-header .dx-navbar {
    top: 0;
    height: 80px;
}

.dx-theme-android5 .navbar-layout .layout-content {
    top: 0;
    bottom: 0;
}

.dx-theme-android5 .navbar-layout.has-toolbar .layout-content {
    bottom: 56px;
}

.dx-theme-android5 .navbar-layout.has-navbar .layout-content {
    top: 80px;
}

.dx-theme-android5 .navbar-layout .layout-footer {
    bottom: 0;
    height: 56px;
    display: none;
}

.dx-theme-android5 .navbar-layout.has-toolbar .layout-footer {
    display: block;
}

/* win8 */

.dx-theme-win8 .navbar-layout-tablet {
    height: 100%;
}

.dx-theme-win8 .navbar-layout-tablet .layout-header,
.dx-theme-win8 .navbar-layout-tablet .layout-content {
    position: static;
    width: auto;
}

.dx-theme-win8 .navbar-layout-tablet .layout-content,
.dx-theme-win8 .navbar-layout-tablet .layout-content .dx-content {
    height: 100%;
}

.dx-theme-win8 .navbar-layout-tablet  {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 274px 1fr;
    overflow: hidden;
}

.dx-theme-win8 .navbar-layout-tablet .layout-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    height: 180px;
    padding: 60px; /* #B230682 */
}

.dx-theme-win8 .navbar-layout-tablet .layout-header h1 {
    margin-bottom: 40px;
}

.dx-theme-win8 .navbar-layout-tablet .layout-content-wrapper {
    padding: 0 60px 60px 60px; /* #B230682 */
    /* for IE */
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    /* end for IE */
}

/* tizen */

.dx-theme-tizen .navbar-layout .layout-header .dx-navbar {
    top: 0;
    height: 71px;
}

.dx-theme-tizen .navbar-layout .layout-content {
    top: 0;
    bottom: 0;
}

.dx-theme-tizen .navbar-layout.has-toolbar .layout-content {
    bottom: 45px;
}

.dx-theme-tizen .navbar-layout.has-navbar .layout-content {
    top: 71px;
}

.dx-theme-tizen .navbar-layout .layout-footer {
    bottom: 0;
    height: 45px;
    display: none;
}

.dx-theme-tizen .navbar-layout.has-toolbar .layout-footer {
    display: block;
}

.dx-theme-tizen .navbar-layout .dx-tabs.dx-navbar {
    padding: 0;
}

/* generic */

.dx-theme-generic .navbar-layout .layout-content {
    top: 80px;
    bottom: 0px;
}

.dx-theme-generic.dx-device-phone .navbar-layout .layout-content {
    top: 50px;
}

.dx-theme-generic .navbar-layout.has-navbar .layout-content {
    bottom: 68px;
}

.dx-theme-generic .navbar-layout .layout-footer {
    bottom: 0;
    height: 68px;
}

.dx-theme-generic .navbar-layout.has-toolbar .layout-footer {
    display: block;
}

.dx-theme-generic .navbar-layout .dx-tabs.dx-navbar {
    padding: 0;
}

.dx-theme-generic .navbar-layout .view-footer {
    position: static;
}
