<div class="navbar-layout-phone" data-options="dxLayout : { name: 'pivot', platform: 'win8', phone: true }">

    <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' }">
        <div class="dx-loadindicator-container">
            <div data-options="dxLoadIndicator: { visible: true }"></div>
        </div>
    </div>

    <div class="layout-footer" data-options="dxContentPlaceholder : { name: 'footer' }">
        <div data-options="dxToolbar: { items: [], renderAs: 'bottomToolbar' }, dxCommandContainer : { id: 'win8-phone-appbar' }" class="layout-toolbar-bottom">
        </div>
    </div>

</div>

